---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset  "utf-8";

// Our variables
$base-font-family: 'Ostia_Antica_WEB', sans-serif;
$italic-font-family: 'OstiaAntica-Italic_WEB', sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;
$small-font-size: 1rem;
$base-line-height: 1.2;
$spacing-unit: 1rem;
$text-color: #000;
$background-color: #f4f4f4;
$on-laptop: 1024px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout", "ostia";
