@font-face {
    font-family: marsextendedweb-regular-TRIAL;
    src: url('../fonts/marsextendedweb-regular-TRIAL.woff');
}

body,
html {
    font-family: marsextendedweb-regular-TRIAL;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    background-size: cover;
    color: white;
    font-size: 1.4rem;
}

::-moz-selection {
    background: none;
}

::selection {
    background: none;
}

a {
    color: white;
    text-decoration: none;
}

header {
    padding: 1.5rem 0 0 1.5rem;
    cursor: pointer;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}



@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#description {
    position: absolute;
    top: 53%;
    transform: translateY(-53%);
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 1.1;
    width: 600px;
    mix-blend-mode: overlay;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

ul {
    padding-left: 0;
    margin: 0;
    padding-top: 1rem;
    list-style-type: none;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

#contact a {
    left: 2rem;
    bottom: 2rem;
    mix-blend-mode: overlay;
    font-size: 1rem;
    position: absolute;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}



#newsletter {
    padding-bottom: 2rem;
    position: absolute;
    bottom: 0;
    right: 2rem;
    mix-blend-mode: overlay;

    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;

}

#mc_embed_signup_scroll .clear {
    bottom: 5rem;
    display: block;
    height: 1.5rem;
    
}
select,
textarea,
button,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"] {
    color: white;
    font-family: marsextendedweb-regular-TRIAL;
    font-size: 1rem;
    width: 25vw;
    line-height: 1;
    background: none;
    border: 1px solid white;
    padding-left: .5rem;
    margin: 0;
    display: inline-block;
    height: 1.8rem;
    cursor: pointer;
    border-radius: 0;
    -webkit-appearance: none;
}

input[type="submit"] {
    border: 0px;
    color: white;
    font-size: 1rem;
    display: block;
    line-height: 1.2;
    text-align: left;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background: none;
    font-family: marsextendedweb-regular-TRIAL;
    clear: left;
}

input[type="submit"]:focus {
    border: 0px;
}

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
    outline: none;
    border: 1px solid white;
    opacity: ;
}

::-webkit-input-placeholder {
    color: white;
}

::-moz-placeholder {
    color: white;
}

:-ms-input-placeholder {
    color: white;
}
/*

.clear {
    display: inline-block;
}
*/

@media screen and (max-width: 790px) {
    a {
        font-size: 1rem;
    }
    header {
        padding: 0.3rem 0 0 1rem;

    }
    #description {
        width: 96vw;
        top: 50%;
        font-size: 1rem;
    }

    ul {
        font-size: 1rem;
    }
    #contact a {
        left: 1rem;
        width: 100vw;
        bottom: 6rem;
    }
    #newsletter {
        left: 1rem;
        bottom: 0;
        padding-bottom: 1rem;
    }

    select,
    textarea,
    button,
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    input[type="number"] {
        width: 84vw;
    }

    input[type="submit"] {
        text-align: left;
    }
}



@media screen and (max-width: 1080px) {

    #description {
        width: 80vw;
    }

}