// COLOURS
$colour1: white
$colour2: black
$colour3: blue
$green: #28da00
$purple: #d390ec
$blue: #1641e6

// TYPE SETTINGS
$font: "Helvetica Neue", Helvetica, Arial, sans-serif
$font-size: 15px
$leading: 17px
$text-alignment: justify

// LAYOUT
$margin: 0 auto
$padding: 15px
$spacing: 7vw

// BUTTONS
=border-radius($radius)
    -webkit-border-radius: $radius
    -ms-border-radius: $radius
    border-radius: $radius

// RESPONSIVE (MOBILE)
$on-mobile: 700px
$font-mobile: 15px
$image-width-mobile: 100vw
$image-height-mobile: 100vh
$leading-mobile: 17px

// RESPONSIVE (TABLET)