--- layout: default ---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>

    {% include header.html %}



    <div class="container-fluid">
        <div class="row main">

            <div class="col-xs-12 col-md-8">
                French graphic designer based in London. Feel free to contact me for further information or an extended portfolio: hello@alyssialou.com.
            </div>

            <div class="col-xs-12 col-md-4">
                {% include footer.html %}
            </div>

        </div>
    </div>

    {% include js.html %}
</body>

</html>