html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* Basic */

body {
    font-family: Times New Roman;
    text-align: justify;
    letter-spacing: -1px;
    margin: 3vh;
    -moz-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern=1";
    -ms-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    -webkit-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
    font-feature-settings: "tnum";
}

::selection {
}

/* Links */

a:link,
a:active,
a:visited {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: blue;
}

em {
    font-style: italic;
}
.hyphen {
    bottom: 50px;
    color: red;
}
.country {
    padding-left: 10px;
}
/* Design */
#content {
    font-size: 2.8em;
    line-height: 1em;
}
#project {
    width: 60vw;
    z-index: 100;
    text-align: center;
    max-height: 90vh;
}

#info {
    vertical-align: top;
    display: inline-block;
    float: right;

}

#image {
    display: inline-block;
    left: 0;
    float: left;
}

/* More image */
.hiddenimg {
  display: none;
}

.hiddentxt {
  font-weight: none;
}

.hiddentxt a {
  color: blue;
  text-decoration: none;
}

.hiddenclick {
  font-weight: none;
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

.hiddenclick a {
  color: blue;
  text-decoration: none;
}

.hiddenclick a:visited {
  color: blue;
  text-decoration: none;
}

.hiddentxt:hover ~ .hiddenimg {
  display: block;
    position: absolute;
}


/* Slideshow */

.cycle-slideshow {
    max-width: 100%;
    width: 100%;
}

.cycle-slideshow article {}

.cycle-slideshow img:first-child {
    position: static;
    z-index: 100;
    max-height: 100vh;
    max-width: 100vh;
}

/* caption */

.cycle-caption {
    position: absolute;
    color: black;
    bottom: 15px;
    right: 15px;
    z-index: 700;
}

/* prev / next links */

.cycle-next {
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 800;
    height: 100%;
}

.cycle-prev {
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 800;
    height: 100%;
}

.cycle-prev {
    left: 0;
    cursor: w-resize;
}

.cycle-next {
    right: 0;
    cursor: e-resize;
}


@media only screen and (max-width: 900px) {}


@media only screen and (max-width: 650px) {}