@media only screen and (max-width: 768px) {
    .container {
        height: 100% !important;
        display: unset !important;
    }
    #caption {
        font-size: 19px;
        line-height: 21px;
    }
    #left {
        display: block !important;
        width: 100% !important;
        height: 100vh !important;
    }
    #right {
        overflow: unset !important;
        width: 100% !important;
        height: unset!important;
        padding: 0 !important;
        position: relative;
    }
    #right, #intro, #info, #content {
        font-size: 19px !important;
        line-height: 21px;
    }
    #intro {
        padding: 12px;
    }
    h1 {
        font-size: 19px !important;
        line-height: 21px;

    }
    #content {
        width: 90% !important;
        padding-top: 21px !important;
        max-width: 345px !important; 

    }
    #info {
        left: 12px !important;
    }
    #about {
        left: 12px !important;
    }
    #about, #share, #caption {
        font-size: 19px !important;
        line-height: 21px;
        position: relative !important;

    }
    #story {
        padding: 12px 12px 0 12px;
    }
    #website {
        padding-bottom: 12px;
    }
    #info {
        padding-top: 12px;
        max-width: 98% !important;
    }
    #credits {
        padding-top: 21px !important; 
    }
    #play, #fullscreen, #pause {
        font-size: 19px !important;
        line-height: 21px;
    }
    #share {
        padding-right: 12px !important;
    }
    #caption {
        z-index: 10000 !important;
    }
    #play {
        z-index: 1000;
    }
    #player {
        object-fit: contain !important;
        background-color: black;
    }
  }

  @media only screen and (max-width: 320px) {
      body, #caption, #left, #right, #play, #fullscreen, #pause, #info, h1, #intro, #content, #about, #share, {
          font-size: 17px !important;
          line-height: 16px;
          letter-spacing: 0;
      }
      #info {
          max-width: 93%!important;
          display: block!important;
          position: inherit!important;
          left: 0!important;
      }
      #about {
          top: 12px;
          display: block;
          position: relative !important;
      }
      #content {
          width: 92vw !important;
          padding: 12px;
      }
      #share {
          padding: 0 12px 0 12px;
          position: relative !important;
      }
      #right {
      }
  }