{% assign profile = site.data.profile %}

 <footer id="footer" class="footer">
  <div class="underline-box">
    <h1 class="big-title">À propos</h1>
  </div>
  

  <h2 class="block-title">Contact</h2>
  <div class="block-body">
    <div>Basé à Paris et Londres / Pour toute collaboration ou question, n'hésitez pas à me contacter!</div>
    <div>m : <a href="mailto:{{ profile.email }}">{{ profile.email }}</a></div>
    <div>t : {{ profile.cellphone }}</div>
    <div>
      <a href="assets/AlyssiaLou_CV_fr.pdf" target="_blank">Curriculum Vitae</a>

     </div>
   </div>


</footer>