<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <title>{% if page.title %}{{ page.title | escape }} – {% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords"
        content="Alyssia Lou, graphic design, art direction, Paris, London, France, United Kingdom, Cambodia, Institutions, Dentrey Rock Festival">
    <meta name="description" content="{{ site.description }}">

    <meta property="og:title" content="{{ site.title | escape }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:url" content="https://www.alyssialou.com/">
    
    <meta property="og:locale" content="en_GB" />
    <meta property="og:locale:alternate" content="fr_FR" />

    <meta property="og:image" content="{{ "/assets/images/ALYSSIALOU_OGP_1.jpg" | prepend: site.baseurl }}" />
    <meta property="og:image:secure_url" content="{{ "/assets/images/ALYSSIALOU_OGP_1.jpg" | prepend: site.baseurl }}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1200" />
    <meta property="og:image:alt" content="Alyssia Lou" />
    <meta property="og:image" content="{{ "/assets/images/ALYSSIALOU_OGP_2.jpg" | prepend: site.baseurl }}" />
    <meta property="og:image:secure_url" content="{{ "/assets/images/ALYSSIALOU_OGP_2.jpg" | prepend: site.baseurl }}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1200" />
    <meta property="og:image:alt" content="Alyssia Lou" />
    <meta property="og:image" content="{{ "/assets/images/ALYSSIALOU_OGP_3.jpg" | prepend: site.baseurl }}" />
    <meta property="og:image:secure_url" content="{{ "/assets/images/ALYSSIALOU_OGP_3.jpg" | prepend: site.baseurl }}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1200" />
    <meta property="og:image:alt" content="Alyssia Lou" />
    <meta property="og:image" content="{{ "/assets/images/ALYSSIALOU_OGP_4.jpg" | prepend: site.baseurl }}" />
    <meta property="og:image:secure_url" content="{{ "/assets/images/ALYSSIALOU_OGP_4.jpg" | prepend: site.baseurl }}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="Alyssia Lou" />


    <link rel="shortcut icon" type="image/vnd.microsoft.icon"
        href="{{ "/assets/images/favicon.ico"  | prepend: site.baseurl }}">
    <link rel="icon" type="image/vnd.microsoft.icon" href="{{ "/assets/images/favicon.ico" | prepend: site.baseurl }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ site.title | escape }}">
    <meta name="twitter:creator" content="@_alyssialou" />
    <meta name="twitter:description" content="{{ site.description }}">
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
    <script src="{{ "/assets/js/jquery-1.9.1.js" | prepend: site.baseurl }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-26763534-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-26763534-1');
    </script>


</head>

<body>