<div id="header" class="text-invert">Designer working in Berlin. <span class="mobile">Re&shy;cent works inclu&shy;de: art di&shy;rec&shy;tion for &ldquo;20 Years&rdquo;, a 28-&shy;page fold-&shy;out in the last iss&shy;ue of <a href="https://032c.com/2000-032c-2020" target="_blank">032c</a>, on the occa&shy;sion of the ma&shy;ga&shy;zine's 20th year anni&shy;ver&shy;sary,de&shy;sign &amp; art-di&shy;rec&shy;tion for &ldquo;<a href="http://www.fleures.org" target="_blank">Les Fleu&shy;res du Ja&shy;pon</a>&rdquo;,
    an art&shy;work by art&shy;ist Jo&shy;ha&shy;nna Ta&shy;ga&shy;da Hoff&shy;beck.
    Pos&shy;ter for
    &ldquo;Cali&shy;for&shy;nia Dream&shy;ing&rdquo;, a short-film direc&shy;ted by Srey&shy;lin Meas and pro&shy;duced by
    Anti-Archi&shy;ve. &ldquo;The Advan­&shy;tages
    of
    Being a Wo&shy;man Gra&shy;­phic Desi­gn&shy;er&rdquo;, con&shy;tri­&shy;bu&shy;tion for the 29th Brno
    Bie­nn&shy;ial 2020, publi­&shy;shed in the iss&shy;­ue
    №386
    of IDEA Ma&shy;ga&shy;­zine, cu­&shy;ra&shy;­ted by Åbä&shy;­ke, So&shy;­fie De­&shy;de­&shy;ren, Ra&shy;dim
    Peš­&shy;ko and Ma&shy;do­&shy;ka Ni­&shy;shi.</span> The
    projects displayed on this web&shy;site are a se&shy;lec&shy;ted over&shy;view of re&shy;cent work. For any in&shy;qui&shy;ry or an ex&shy;tended port&shy;folio,
    please <a href="mailto:contact@alyssialou.com">get in touch</a>.</div>