<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <title>{% if page.title %}{{ page.title | escape }} – {% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="Alyssia Lou, graphic design, art direction, Paris, London, France, United Kingdom, Cambodia, Institutions, Dentrey Rock Festival">
    <meta name="description" content="{{ site.description }}">
    <meta property="og:title" content="{{ site.title | escape }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Alyssia Lou">
    <meta property="og:url" content="https://www.alyssialou.com/">
    <meta property="og:image" content="">

    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{ "/assets/images/favicon.ico" }}">
    <link rel="icon" type="image/vnd.microsoft.icon" href="{{ "/assets/images/favicon.ico" }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Alyssia Lou">
    <meta name="twitter:description" content="Alyssia Lou Graphic Design Service">
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" }}">
    <script type="text/javascript" src="{{ "/assets/js/jquery-1.9.1.js" }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-26763534-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-26763534-1');
    </script>


</head>

<body>