{% assign project = include.project %}

<article class="project">

  <h2 class="block-title">{{ project.title }}</h2>
  <div class="block-body">

    <ul class="project-info">
      {% if project.category %}<li>{{ project.category }}</li>{% endif %}
      {% if project.size %}<li>{{ project.size }}</li>{% endif %}
      {% if project.pages %}<li>{{ project.pages }}</li>{% endif %}
    </ul>
    <p>{{ project.description | markdownify }}</p>

    <div class="project-images" data-cycle-loader="wait">
      {% for image in project.images %}
        <div><img data-lazy="{{ site.baseurl }}/assets/images/{{ image }}"/></div>
      {% endfor %}
    </div>
    
  </div>
  
</article>