<article class="project {{ page.page_id }}">
<div id="images">   
      <div id="image-lefty" style="color: red; background-image: url('/assets/images/{{ page.image-left }}'); background-size: {{ page.image-left-size }};"></div>
      <div id="image-righty" style="color: blue; background-image: url('/assets/images/{{ page.image-right }}'); background-size: {{ page.image-right-size }};"></div>
      <div id="caption-left">{{ page.image-left-caption }}</div>
      <div id="caption-right">{{ page.image-right-caption }}</div>
      <div id="caption-center">{{ page.image-center-caption }}</div>
      </div>
</article>
  