@font-face {
    font-family: 'Ostia Antica WEB TEST_Italic';
    src:    url('Ostia_Antica_WEB_TEST-Italic.eot');
    src:    url('Ostia_Antica_WEB_TEST-Italic.eot?#iefix') format('embedded-opentype'),
            url('Ostia_Antica_WEB_TEST-Italic.woff') format('woff'),
            url('Ostia_Antica_WEB_TEST-Italic.woff2') format('woff2');
}
