.site-header {
    z-index: 2000;
    padding-bottom: 6rem;
    padding-right: $spacing-unit;
}

.underline-box {
    width: 100%;
    padding-top: $spacing-unit;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
}

.big-title {
    margin: 0;
    text-decoration: none;
    font-size: $base-font-size;
    font-family: "OstiaAntica-Italic_WEB", sans-serif;
    font-style: italic;
}

.block-title {
    margin: 0;
    font-size: $base-font-size;
    font-style: italic;
    font-family: "OstiaAntica-Italic_WEB", sans-serif;
    

    @media screen and (max-width: $on-laptop) {
        padding-left: $spacing-unit;
    }
}

.block-body {
    font-size: $small-font-size;
    padding-left: $spacing-unit * 2;

    @media screen and (max-width: $on-laptop) {
        padding-left: 0;
        p {
            padding-left: $spacing-unit;
        }
    }
}

.project {
    margin-bottom: 6rem;
}

.project-date {
    font-family: 'Ostia_Antica_WEB', sans-serif;
    font-size: .95rem;
    font-style: normal;
}

.project-info {
    list-style: none;
    margin-left: 0;


    @media screen and (max-width: $on-laptop) {
        padding-left: 1rem;
    }
}

.project-images {
    margin-top: $spacing-unit / 2;
    @media screen and (max-width: $on-laptop) {
        /*
        margin-left: -$spacing-unit;
        margin-right: -$spacing-unit;*/
    }
}

.footer {
    z-index: 2500;
    margin-bottom: 50px;

    @media screen and (min-width: $on-laptop) {
        position: fixed;
        top: 0;
        margin-right: $spacing-unit;
    }
}

.footer .underline-box {
    margin-left: -$spacing-unit;
    width: -webkit-calc(100% + #{$spacing-unit});
    width: calc(100% + #{$spacing-unit})
}

.footer .block-body {
    font-size: $small-font-size;
}

.container-fluid {
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;

    @media screen and (max-width: $on-laptop) {
        padding: 0;
        width: calc(100vw - 2rem);
    }
}

.main {
    @media screen and (max-width: $on-laptop) {}
}

// slick custom css
.slick-arrow {
    top: 0;
    bottom: 0;
    height: calc(100% - 29px);
    width: 100%;
    transform: none;
    z-index: 2600;
    @media screen and (max-width: $on-laptop) {
        display: none!important;
    }
}

.slick-next:before,
.slick-prev:before {
    content: none;
}

.slick-prev {
    left: 0;
    cursor: url('../assets/images/arrow.png'), auto;
    mix-blend-mode: exclusion;
}

.slick-next {
    right: 0;
    cursor: url('../assets/images/arrow.png'), auto;
    mix-blend-mode: exclusion;
}

.custom_paging {
    margin: 0;

    @media screen and (max-width: $on-laptop) {
        padding-left: $spacing-unit;
    }
}

.custom_paging li {
    font-size: $small-font-size;
    padding-top: $spacing-unit/2;
    text-align: left;
    display: none;
}

.custom_paging li.slick-active {
    display: block;
}

::-webkit-scrollbar {
    width: $spacing-unit * 4;
    background-color: $background-color;


    @media screen and (max-width: $on-laptop) {
        width: $spacing-unit;
    }
}

/* Track */

::-webkit-scrollbar-track {
    background-color: $background-color;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background-color: $background-color;
    background-image: -webkit-linear-gradient(#f4f4f4, #ffffff, #f4f4f4);
}


/* Handle on hover

::-webkit-scrollbar-thumb:hover {
    background-color: $background-color;
    background-image: -webkit-linear-gradient(#f4f4f4, #ffe1b3, #f4f4f4);
}
 */