<div id="view">Index</div>
<div id="view-images">Images</div>
<div class="overall">
    <div class="container">
        <div class="row">
            {% for post in site.posts %}
            <div class="col-md-auto">
                {% if post.image-center %}<img src="assets/images/{{ post.image-center }}.jpg" width="150">{% endif %}
                {% if post.image-left %}<div class="image-left"><img src="assets/images/{{ post.image-left }}.jpg" class="image-left"></div>{% endif %}
                {% if post.image-right %}<div class="image-right"><img src="assets/images/{{ post.image-right }}.jpg" width="150" class="image-right"></div>{% endif %}

            </div>
            {% endfor %}
        </div>
    </div>
</div>