#about {
    position: absolute;
    right: 0;
    color: $color3;
    width: 50%;
}

#about h1 {
    top: $padding;
    position: absolute;
}
#about article {
    margin-left: 0;
    bottom: $padding;
    position: fixed;
}