
@font-face {
    font-family: "CheltenhamBT-BoldHeadline";
    src: url('cheltenhambt-boldheadline-webfont.woff2') format('woff2'),
         url('cheltenhambt-boldheadline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}