#logo {
    position: absolute;
    top: $padding;
    text-align: center;
    margin: auto;
    width: 100%;
    z-index: 10000;

}
header {
    width: 100%;
    position: fixed;
    left:$padding;
    top: $padding;
    z-index: 9999;
}


.image-id {
    display: block;
    margin: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 6%;
}

header .ct {
    width: 100%;
    // position: absolute;
}
