#index {
  position: fixed;
  top: $padding;
  z-index:11000;
  margin-left: $padding;  

}
#bio {
  position: fixed;
  width: calc(25 * #{$padding});;
  top: $padding;
  z-index:11000;
  margin-left: $padding;
  
}

article {
  margin-left: calc(27 * #{$padding});
  margin-bottom: $padding;
  top: $padding;
  position: absolute;
  width: calc(27 * #{$padding});
}

#footer {
  bottom: $padding;
  left: $padding;
  position: fixed;
}
.inactive {
  opacity: 0.2;
}
.active {
  opacity: 1;
}

.caption {
  //padding-bottom: $padding;
}
.caption a {

}
.caption:first-child {
  // margin-top: calc(10 * #{$padding});
}

.caption:last-child {
  margin-bottom: calc(10 * #{$padding});
}

.caption-left {
  display: inline-block;
  vertical-align: top;

}

.caption-right {
  display: inline-block;
}

.caption-image {
}

b {
  padding-right: 0;
}

em {
  font-style: normal;
}
