
body {
	color: $color1;
	font-family: $font-family;
	font-size: $font-size;
	background-color: white;
	line-height: $leading;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

}

a:link, a:visited {
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	color: $color1;
}

a:hover, a:active {
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	color: $color2;
	outline: 0;
}

#projects {
		display: none;
}
.bl {
	color: #fff;
	background: #000;
}

.sm {
	background: black;
}

.mid {
	width: 50%;
}
.big {
	width: 100%;
}
