/* HEADER */

#header {
    color: $colour2;
    position: fixed;
    z-index: 1;
    width: 100%;
    text-align: center;
    max-width: calc(100% - 30px);
    display: block;
    height: $image-top-position;
    @media only screen and (max-width: $on-mobile) {
        display: block;

        padding: 12px $padding;
        position: fixed;
        z-index: 4;
    }
}

#header-mobile {
    display: none;
    @media only screen and (max-width: $on-mobile) {
        display: block;
        padding: 12px $padding;
        position: fixed;
        z-index: 4;
    }
}
.mobile {
    display: inline;
    @media only screen and (max-width: $on-mobile) {
        display: none;
    }
}
article {
    top: 100px;
    position: absolute;
}
